<div class="row">
  <div class="col-sm-12">
    <ul class="list-group clearfix">
      <li class="list-group-item pull-left" *ngFor="let alphabetEl of allAlphabets" (click)="onSelection($event)"><a>{{ alphabetEl.alpha }}</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <audio controls autoplay><source [src]="playedSoundUrl" type="audio/mpeg"></audio>
    <!-- <img src="{{ playedSoundUrl }}" alt=""> -->
  </div>
  <div class="col-sm-6">
    <div class="status"></div>
  </div>
</div>